@page "/login"
@using System.ComponentModel.DataAnnotations

<div class="main__b__0">
    <div class="login">
        <Form Model="@_model" OnFinish="HandleSubmit">
            <FormItem>
                <AntDesign.Input Placeholder="Username" Size="large" @bind-Value="@context.Username">
                    <Prefix><Icon Type="user" /></Prefix>
                </AntDesign.Input>
            </FormItem>
            <FormItem>
                <AntDesign.Input Placeholder="Password" Size="large" @bind-Value="@context.Password" Type="password">
                    <Prefix><Icon Type="lock" /></Prefix>
                </AntDesign.Input>
            </FormItem>
            <div>
                <Checkbox Checked="@context.AutoLogin">
                    Auto Login
                </Checkbox>
                <a style="float: right;">
                    Forgot Password
                </a>
            </div>
            <Button Type="primary" HtmlType="submit" Class="submit" Size="large" Block>Log in </Button>
        </Form>
    </div>
</div>

@code {
    private readonly LoginParamsType _model = new LoginParamsType();

    async void HandleSubmit() {
        var user = await _authentication.Login(_model.Username, _model.Password);
        if (user is null)
        {
            await _message.Error("Incorrect username or password, login failed.");
        }
        else
        {
            _navigation.NavigateTo("/");
        }
    }

    class LoginParamsType
    {
        [Required] public string Username { get; set; }

        [Required] public string Password { get; set; }

        public bool AutoLogin { get; set; }
    }
}